@import "../../global.scss";

.product {
  width: 250px;
  margin: 2em 0;

  .img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #bbb;
  }

  .info {
    width: 220px;
    margin-left: 1em;

    .name {
      width: 100%;
      font-size: 1.7rem;
      font-weight: 500;
      margin-top: 0.6em;
      color: #000;

      &:hover {
        color: $primary-clr;
        cursor: pointer;
      }
    }

    .price {
      font-size: 1.6rem;
      margin-top: 0.3em;
      color: $primary-clr;

      &.sale {
        color: #666;
        text-decoration: line-through;
      }
    }
  }
}
